[Unit]
Description=This is a weather timer
Requires=weather.service

[Timer]
Unit=weather.service
OnCalendar=*_*_* *:01:00
Persistent=true

[Install]
WantedBy=timers.target
